<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->

<!-- 监测配置文件的间隔为60秒-->
<Configuration status="warn" monitorInterval="60">


    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- 滚动文件 -->
        <RollingFile name="RollingFile" fileName="platform.log"
                     filePattern="${displayName}_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <!-- 按大小划分 -->
            <SizeBasedTriggeringPolicy size="50 MB"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="RollingFile"/>-->
        </Root>

        <Logger name="com.zhiku.elearning.mapper" level="WARN"/>

    </Loggers>

</Configuration>